body {
  background-color: #9BC1BC
}

header {
  background: #ED6A5A;
  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  height: 3em;
  left: 0;
  line-height: 1.7em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
  padding-bottom: 10px;
}

header > h1 {
  color: #fff;
  display:block;
  height: 10px;
  left: 2%;
  line-height: inherit;
  margin: 20;
  position: absolute;

}

header > h1 a {
  font-size: 1em;
  border-radius: 20px;
  background: #73AD21;
  padding: 10px;
  width: 200px;
  left: 10%;
  color: white;
  }


#banner {
  padding: 8em 0 6em 0;
  background-attachment: fixed;
  background-image: url("../images/waterfront.png");
  background-size: cover;
  text-align: center;
}

#brand {
  text-align: center;
}

input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    height: 50px;
    width: 70px;
}

#motto {
  color: white;
  text-shadow: black;
}

#topSalmon {
  width: 15%;
  position: relative;
}

#closingSalmon {
  width: 15%;
  position: relative;
}

#location{
  display: block;
  background-color: #5CA4A9;
  float: left;
  width: 100%;
}

#fancyFish{
  width: 25%;
}

#family {
  text-align: center;
  color: white;
}


figcaption {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

#events {
  width: 100%;
  padding: 8em 0 6em 0;
  background-attachment: fixed;
  background-image: url("../images/family.jpg");
  background-size: cover;
  text-align: center;
}

#merch{
  margin: 10%;
  width: 50%;
  font-style: italic;
  font-family: Georgia, Times, serif;
  word-wrap: true;
  width: 325px;
}

h3 {
  font-style: oblique;
}

#HomePage{
  font-size: 18px;
  text-align: left;
}


#aboutUs{
  display: block;
    height: 70%;
  width: 50%;
  background-color: #F4F1BB;
}

a {
  font-size: 24px;
  text-decoration: none;
}

  #footer {
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    width: 100%;
    padding-top: 5px;
  }

